{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %} | CodeController</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'dash/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'dash/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'dash/css/sb-admin.css' %}" rel="stylesheet">

  <!-- Change the height of the editor and output windows, below -->
  <style>


  </style>

<script>
		// clear the editor window
			function clearAceCode() {
                editor.setValue("");
            }
        </script>

<script type="text/javascript"> 
  // The following scripts are slightly modified versions of the ones on the Skulpt web page  
  
  // output functions are configurable.  This one just appends some text
  // to a pre element.
  function outf(text) { 
    var mypre = document.getElementById("codeOutput"); 
    mypre.innerHTML = mypre.innerHTML + text; 
  } 
  function builtinRead(x) {
    if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
        throw "File not found: '" + x + "'";
    return Sk.builtinFiles["files"][x];
  }
  // Here's everything you need to run a python program in skulpt
  // grab the code from your textarea
  // get a reference to your pre element for output
  // configure the output function
  // call Sk.importMainWithBody()

  function runit() { 
    var prog = (editor.getValue());
    var mypre = document.getElementById("codeOutput");  
    mypre.innerHTML = ''; 
    Sk.pre = "codeOutput";
    Sk.configure({output:outf, read:builtinRead});
    var myPromise = Sk.misceval.asyncToPromise(function() {
      return Sk.importMainWithBody("<stdin>", false, prog, true);
    });
    myPromise.then(function(mod) {
      
    },
    function(err) {
      mypre.innerHTML = err.toString();
    });

    if(mypre.textContent === "Lesson 1"){
      console.log(mypre.textContent);
      console.log("True");
    } else {
      console.log("False");
      console.log(mypre.textContent);
    }
} 
  // End of Skulp scripts

  function clearConsole(){
    var console = document.getElementById('codeOutput');
    console.innerHTML = '';
  }
  </script> 

  




</head>

<body id="page-top">
<div class="full_page">
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top pHeader" >

    <a class="navbar-brand mr-1" href="{% url 'dash:index' %}">CodeController <i class="fas fa-terminal"></i></a>



    <!-- Navbar -->
        <!-- Navbar -->
    <ul class="navbar-nav ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Activity Log</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

    
        {% block content %}{% endblock%}
      <!-- /.container-fluid -->

  <!-- /#wrapper -->

        <!-- Sticky Footer -->

</div>
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="{% url 'dash:logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'dash/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'dash/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'dash/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{% static 'dash/vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'dash/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'dash/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'dash/js/sb-admin.min.js' %}"></script>

  <script>
    var item = $('.list-group-item.select');

    $(item).on('click', function(event){
      li_index = item.index(this);
      item.eq(li_index).toggleClass("list-select");
    });
  </script>

  <script src="https://www.skulpt.org/js/skulpt.min.js"></script> 
    <script src="https://www.skulpt.org/js/skulpt-stdlib.js"></script> 


</body>

</html>
