{% extends 'front/base.html' %}
{% block title %}Reset Password{% endblock %}

<!-- Start main content -->
{% block content%}

<div class="row">
    <div class="col-sm-12 mt-4">
        <h1 class="text-center text-dark">Password Reset Sent</h1>
    </div>
    <div class="col-sm-12 mt-5 mb-5">
        <div class="mx-auto">
                    <div class="row">
                        <div class="col-sm-12">
                           <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                           <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                        </div>
                    </div>
        </div>
        
    </div>
</div>

{% endblock %}