{% extends 'front/base.html' %}
{% block title%}Courses{% endblock %}
{% block lessons-active%}active{% endblock%}

{% block content %}

<div class="row">
        <div class="col-sm-12 mt-4">
            <h1 class="text-center text-dark">The Real Curriculum</h1>
        </div>
        <div class="col-sm-12 mt-4">
            <h3 class="text-dark text-uppercase">challenge yourself</h3>
            <div class="card mb-3 mt-4">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="https://via.placeholder.com/220x200?text=Course%20Image%20Here" class="card-img" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">Control RC Vehicle from your own web-app</h5>
                            <p class="card-text">This project will bring you on the amalgamation of hardware and software, we recommend completing our other courses before embarking on this pathway.</p>
                            <p class="card-text"><small class="text-muted">Added 1 week ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <hr>
            <h3 class="text-dark text-uppercase">Start the joruney today</h3>
        </div>
        <div class="col-sm-4 mt-4">
                <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title">Python</h5>
                                    <p class="card-text">Course Description</p>
                                    <p class="card-text"><small class="text-muted">Added 1 week ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="col-sm-4 mt-4">
                <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title">Electrical Engineering</h5>
                                    <p class="card-text">Course Description</p>
                                    <p class="card-text"><small class="text-muted">Added 1 week ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="col-sm-4 mt-4">
                <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title">Web Development - Basics</h5>
                                    <p class="card-text">Course Description</p>
                                    <p class="card-text"><small class="text-muted">Added 1 week ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>

        
        

        <!-- Another card-->
    </div>
{% endblock %}