{% extends 'front/base.html' %}
{% block title %}Log in{% endblock %}

<!-- Start main content -->
{% block content%}

<div class="row">
    <div class="col-sm-12 mt-4">
        <h1 class="text-center text-dark">Log In to CodeController</h1>
    </div>
    <div class="col-sm-12 mt-4 align-items-center">
                <div class="w-50 mx-auto">
                    {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %}>{{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                        </div>
                    {% endfor %}
            {% endif %}
                        <form action="" method="POST">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="cc-email">Email:</label>
                                            <input type="text" name="cc-email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="cc-password">Password:</label>
                                                <input type="password" name="cc-password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                                <a class="text-info mt-4" href="{% url 'front:password_reset' %}">Forgot my password?</a>
                                                <button type="submit" class="btn btn-lg btn-info btn-block font-weight-bold mt-4">Log in</button>
                                            </div>
                                </div>
                            </form>
                            <p class="float-right mt-4"><a class="text-info font-weight-bold" href="{% url 'front:signup' %}">Not signed up yet? Start for free</a></p>
                </div>
        </div>
    </div>
</div>


{% endblock %}