{% extends 'front/base.html' %}
{% block title %}Sign up {% endblock %}

<!-- Start main content -->
{% block content%}

<div class="row">
    <div class="col-sm-12 mt-4">
        <h1 class="text-center text-dark">Get Started for Free</h1>
    </div>

    <div class="col-sm-6 mt-4">
            <div class="card">
                    <img src="https://miro.medium.com/max/12000/1*hEbJvltnslRrdEzjWQ7Img.jpeg" class="card-img" alt="...">
                    <div class="card-img-overlay font-weight-bolder h-100 d-flex flex-column justify-content-end">
                      <h2 class="card-text text-uppercase bg-info text-white">Learn to code with the best.</h2>
                    </div>
                  </div>
    </div>

    <div class="col-sm-12 col-md-6 mt-4">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group has-error">
                        <label class="control-label" for="inputError">Email Address</label>
                        {{ form.email }}
                        <span class="help-block">
                            {% if form.email.errors %}
                                <small class="text-danger">{{ form.email.errors|striptags }}</small>
                            {% endif %}
                        </span>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group has-error">
                        <label class="control-label" for="inputError">First Name</label>
                        {{ form.first_name }}
                        <span class="help-block">
                            {% if form.first_name.errors %}
                                <small class="text-danger">{{ form.first_name.errors|striptags }}</small>
                            {% endif %}
                        </span>
                      </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group has-error">
                        <label class="control-label" for="inputError">Last Name</label>
                        {{ form.last_name }}
                        <span class="help-block">
                            {% if form.last_name.errors %}
                                <small class="text-danger">{{ form.last_name.errors|striptags }}</small>
                            {% endif %}
                        </span>
                      </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group has-error">
                        <label class="control-label" for="inputError">Password</label>
                        {{ form.password1 }}
                        <span class="help-block">
                            {% if form.password1.errors %}
                                <small class="text-danger">{{ form.password1.errors|striptags }}</small>
                            {% endif %}
                        </span>
                      </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group has-error">
                            <label class="control-label" for="inputError">Password Again</label>
                            {{ form.password2 }}
                            <span class="help-block">
                                {% if form.password2.errors %}
                                    <small class="text-danger">{{ form.password2.errors|striptags }}</small>
                                {% endif %}
                            </span>
                          </div>
                        </div>
                    <div class="col-sm-12">
                            <button type="submit" class="btn btn-info btn-block">Get Coding Now</button>
                        </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}
