{% extends 'dash/base.html' %}
{% block title %}Editor{% endblock %}
{% block content %}

<style>
.pHeader, .pFooter {
  height: 56px;
}

.edit-page {
  min-height: 500px;
  height: calc(100% - 112px);
}

#editor, #codeOutput {
  min-height: 200px;
  min-height: 100%;
}

.lesson-content {
  overflow-y: auto;
  min-height: 100px;
  height: calc(100% - 45px);
  position: absolute;
}

.list-select {
  text-decoration: line-through;
}

</style>


<div class="row no-gutters edit-page">
        <div class="col-md-6 col-sm-12">	
            <!-- the editor window -->
            <div id="editor"></div>
            <!-- the editor library is included here along with its set up code -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
            <script>
              var editor = ace.edit("editor");
              document.getElementById('editor').style.fontSize='14px';
              editor.setTheme("ace/theme/terminal");
              editor.getSession().setMode("ace/mode/python");
                      
              // Python code goes here
              code = "{{ lesson.code|escapejs }}";
  
            editor.setValue(code);
            </script>
        </div>
        <div class="col-md-6 col-sm-12"><div id="codeOutput" class="p-1 text-white edit" style="width:100%; background-color:#2A112A; font-family: monospace;" ></div>  </div>
        <div class="row mx-auto pt-2">
          <div class="col-sm-12">
            <button class="btn btn-success" onclick="runit()"><i class="fas fa-play"></i></button>
            <button class="btn btn-warning text-white" onclick="editor.setValue(code)" title="Reset Exercise"><i class="fas fa-sync"></i></button>
            <button class="btn btn-danger text-white" onclick="clearConsole();" title="Clear Console"><i class="fas fa-eraser"></i></button>
        </div>
        </div>
</div>

{% endblock %}