{% extends 'dash/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
        <!-- Icon Cards-->
        <div class="row">
            <div class="col-xl-4 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fire"></i>
                  </div>
                  <div class="mr-5">#{{lb_pos}} on CodeController!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'dash:leaderboards' %}">
                  <span class="float-left">View Leaderboards</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-3">
              <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-fw fa-list"></i>
                  </div>
                  <div class="mr-5">Discuss with the community</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'dash:community' %}">
                  <span class="float-left">Talk now!</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-4 col-sm-6 mb-3">
              <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                  <div class="card-body-icon">
                    <i class="fas fa-project-diagram"></i>
                  </div>
                  <div class="mr-5">1 Unfinished Project!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="{% url 'dash:projects' %}">
                  <span class="float-left">View Details</span>
                  <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
  
          <div class="row mb-4">
              <div class="col-sm-12 mb-4">
                  <h4 class="text-dark font-weight-bold">Projects</h4>
              </div>
                    <!-- Area Chart Example-->
          {% if courses %}
            {% for course in courses %}
                <div class="col-xl-6 col-sm-12 col-md-6 mb-3">
                  <div class="card text-white bg-info o-hidden h-100">
                    <div class="card-body">
                      <div class="card-body-icon">
                        <i class="fas fa-user-graduate"></i>
                      </div>
                      <div class="mr-5 font-weight-bold text-center text-underline">{{ course.title }}</div>
                      <div class="mr-5">{{ course.short }}</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="{% url 'dash:project-slug' course.s %}">
                      <span class="float-left">View {{ course.title }}</span>
                      <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                      </span>
                    </a>
                  </div>
                </div>
            {% endfor %}
          {% endif %}
  
            </div>
  {% endblock %} 