{% extends 'dash/base.html' %}
{% block title %}{{ lesson.title}}{% endblock %}
{% block javascript %}
<style>
.privew{ margin-bottom:20px;}
.privewHome{ border:solid 1px #e1e1e1; background:#FFF; box-shadow:inset 0 0 50px rgba(000,000,000,0.1); padding:30px 40px 30px; border-radius:5px; font-size:14px; line-height:22px; font-weight:300; text-align:center}
.privewHome h2{ text-align:center; font-size:30px; font-weight:300; line-height:40px; margin:0 0 25px; text-transform:capitalize}
.privewHome h2 span{ display:block;}
.privewHome p{ padding:0 0 8px 0; margin:0}
.privewHome .button { font-size:18px; line-height:46px; padding:0 50px; font-weight:500;}
.privewHome p.big{ color:#0088cc; font-size:22px; padding:10px 0 25px 0; text-transform:uppercase}

.questionsBox{display:block;border:solid 1px #e3e3e3;padding:10px 20px 0px;box-shadow:inset 0 0 30px rgba(000,000,000,0.1), inset 0 0 4px rgba(255,255,255,1);border-radius:3px;margin:0 10px;}
.questions{ background:#007fbe; color:#FFF; font-size:22px; padding:8px 30px; font-weight:300; margin:0 -30px 10px; position:relative;}
.questions:before, .questions:after{ background:url("https://www.htmllion.com/img/icon.png") no-repeat left 0; display:block; position:absolute; top:100%; width:9px; height:7px; content:'.'; left:0; text-align:left; font-size:0}
.questions:after{ left:auto; right:0; background-position:-10px 0}
.answerList{ margin-bottom:15px;}
.answerList li{ padding:3px 0;}
.answerList li:first-child{ border-top-width:0}
.answerList label{ display:block; padding:6px; border-radius:6px; border:solid 1px #dde7e8; font-weight:400; font-size:13px; cursor:pointer; font-family:Arial, sans-serif }
.answerList li:hover label{ border-color:#d1d1d1;  background:#f2fafb; }
.answerList li.selected label{ border-color:#b2d9ee;  background:#dcedf6;}

.questionsRow { background:#dee3e6; margin:0 -20px; padding:10px 20px; border-radius:0 0 3px 3px; }
.questionsRow span{ float:right; display:inline-block; line-height:30px; border:solid 1px #aeb9c0; padding:0 10px; background:#FFF; color:#007fbe; }

.quizResult { margin:0 0 10px 0; border-bottom:solid 1px #e3e3e3; padding-bottom:6px; font-size: 15px; line-height: 28px; }
.quizResult li{ margin:0 0 6px; border:solid 1px #e3e3e3;  padding:5px 20px; border-radius:5px; position:relative;}
.quizResult h2 { font-size: 22px; margin:0; font-weight:300;}
.quizResult li.resultAnsIswrong {background-color:#fff2f2; border-color:#fae1e1;}
.quizResult li.resultAnsIscorrect{background-color:#f6ffee; border-color:#e2f8cf;}
.quizResult .ansStute{ position:absolute; left:0; top:-1px; bottom:-1px;  color:#FFF;  font-weight:500; padding:0; width:6px;  border-radius:5px 0 0 5px;}
.quizResult li.resultAnsIswrong .ansStute{background:#aa0101;}
.quizResult li.resultAnsIscorrect .ansStute{background:#00a637;}

.quizScore{ background:#e8f7ff; border:solid 1px #d8eefa; padding:10px 20px; border-radius:5px;}
.quizScore a.button{ float:right;}
.yourScore{ font-size:18px; line-height:30px; color:#0e5e88;}

</style>

<script>
    var slug = "{{ lesson.s|escapejs }}";

    $(document).ready(function(){
        // Hide badge card and next lesson
        $('#nextLesson').hide();
        $('.quiz-content').hide();
        $('#showCorrect').hide();
        $('#noQuestion').show();
        x = $('[id^=quizContent]')

        // Partial code found from https://stackoverflow.com/questions/2465158/is-it-possible-to-remove-inline-styles-with-jquery
        // This leaves first elemenet shown on load
        $(x[0]).attr('style', function(i, style){
            return style && style.replace(/display[^;]+;?/g, '');
        });

        $("#completeLesson" ).on( "click", function() {
            $('#btnTrigger').click();
            
        });
    });

correct = 0;
function checkAnswer(question_id, answer_id, lesson_id){
    question = $("input[name='quiz"+question_id+"']:checked").val();

    $.ajax({
    url: '/ajax/check-answer',
    data: {
        'question_id': question,
        'answer_id': answer_id
    },
    type: 'get',
    dataType: 'json',
    success: function (data) {
        if (data.correct) {
            correct++;
            $("label[for='customRadio"+answer_id+"']").removeClass('text-danger');
            $("label[for='customRadio"+answer_id+"']").addClass('text-success'); // Success text for correct answer
            $("div[id='quizContent"+question_id+"']").slideUp(); // Hide that quiz
            $("div[id='quizContent"+(question_id+1)+"']").slideDown(); // Show next quiz
        } else {
            $("label[for='customRadio"+answer_id+"']").removeClass('text-success');
            $("label[for='customRadio"+answer_id+"']").addClass('text-danger');
        }

        if(correct == data.max){
            // console.log("All answers correctly answers! You have unlocked a badge and the "+ data.nextLesson +" lesson!");
            $('#btnTrigger').click();
            $('#nextLesson').show();
            $('#showCorrect').fadeIn();
            updateLessonProgress(lesson_id);
            awardBadge(slug);
        }
    }
    });
}

function awardBadge(slug){
    $.ajax({
        url: '/ajax/award-badge',
        data: {
            'slug': slug,
            'action': 'completed'
        },
        type: 'get',
        dataType: 'json',
        success: function(data){
            if(data.success){
                console.log("Awarded new trophy to user")
            } else {
                console.error("Failed to award new trophy")
            }
        }
    });
}

function updateLessonProgress(lesson_id){
    $.ajax({
                url: '/ajax/update-progress',
                data: {
                    'lesson': lesson_id
                },
                type: 'get',
                dataType: 'json',
                success: function(data){
                    if(data.success){
                        console.log("Successfully updated lesson");
                    }

                    if(data.except){
                        console.log("Failed to update lesson");
                    }
                }
            });
}

  </script>
{% endblock %}

{% block content %}
{% load split_answers %}  
<div class="container">
<div class="row mb-4"><button class="btn btn-info" onclick="history.back(-1);"><i class="fas fa-arrow-left"></i> Go back</button></div>
<div class="row mb-4">
    <div class="card h-100 o-hidden">
        <div class="card-header text-white bg-primary font-weight-bold">{{ lesson.course.title }}: {{ lesson.title }}</div>
        <div class="card-body">
        <div class="card-body-icon"><i class="fas fa-hourglass-start"></i></div>
          <p class="card-text">{{ lesson.content|safe }}</p>
        </div>
      </div>
    <div class="col-sm-12 mt-2"><hr></div>
    <div class="col-sm-12 mt-2">
        <h4 class="text-dark font-weight-bold">Test your knowledge!</h4>
            {% if questions.count > 0 %}
                {% for q in questions %}
                    <div id="quizContent{{q.id}}" class="privew quiz-content">
                        <div class="questionsBox">
                            <div class="questions bg-primary">{{q.title}}</div>
                                <ul class="answersList list-group">
                                    {% for a in answers|split_answers:q.id %}
                                    <li class="list-group-item custom-control custom-radio mb-2"><label class="custom-control-label ml-2 mb-2" for="customRadio{{a.id}}"></h4><input type="radio" id="customRadio{{a.id}}" name="quiz{{q.id}}" class="custom-control-input" value="{{a.id}}" onclick="checkAnswer({{q.id|escapejs}}, {{a.id|escapejs}}, {{q.quiz.lesson.id|escapejs}})">{{ a.title }}</label></li>
                                    {% endfor %}
                                </ul>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div id="noQuestion" class="privew quiz-content">
                    <div class="questionsBox">
                        <div class="questions bg-primary">No questions for this one!</div>
                            <p>You can continue on with the course, or take time to chat with fellow members.</p>
                            {% if nextL %}
                                <a href="{% url 'dash:project-slug' next.course.s %}"><button type="button" class="btn btn-primary mb-2" onclick="updateLessonProgress({{lesson.id|escapejs}})">Complete Lesson</button></a>
                            {% else %}
                                <a href="{% url 'dash:project-slug' next.course.s %}"><button type="button" class="btn btn-primary mb-2" onclick="updateLessonProgress({{lesson.id|escapejs}})">Complete Lesson</button></a>    
                            {% endif %}
                    </div>
                </div>  
            {% endif %}

            <div id="showCorrect" class="privew quiz-content">
                <div class="questionsBox">
                    <div class="questions bg-primary">Questions all complete!</div>
                        <p>Nice work. You must have learned a lot from this one :) why not take the next course?</p>
                        {% if nextL %}
                            <a href="{% url 'dash:project-slug' next.course.s %}"><button type="button" class="btn btn-primary mb-2" onclick="updateLessonProgress({{lesson.id|escapejs}})">Complete Lesson</button></a>
                        {% else %}
                            <a href="{% url 'dash:project-slug' next.course.s %}"><button type="button" class="btn btn-primary mb-2" onclick="updateLessonProgress({{lesson.id|escapejs}})">Complete Lesson</button></a>    
                        {% endif %}
                </div>
            </div>  
    </div>
    <div class="col-sm-12 mt-4">
        <button type="button" id="btnTrigger" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Launch demo modal
        </button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Trophy Unlocked!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <div class="col-sm-12 mx-auto">
                            <div class="trophy blue">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="216px" height="232px" viewBox="0 0 216 232">
                                    <path fill="#2B2B2B" d="M207,0C171.827,0.001,43.875,0.004,9.003,0c-5.619-0.001-9,3.514-9,9c0,28.23-0.006,151.375,0,169    c0.005,13.875,94.499,54,107.999,54S216,191.57,216,178V9C216,3.298,212.732,0,207,0z"/>
                            </svg>
                                <p class="title">COMPLETED</p>
                                <p class="subtitle1">{% now "jS F Y H:i" %}</p>
                                <p class="subtitle">{{ lesson.title }}</p>
                            </div>  
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  {% if nextL.exists %}
                    <a href="{% url 'dash:project-lesson' next.course.s next.s %}"><button type="button" class="btn btn-success">Next Lesson</button></a>
                {% else %}
                    <a href="{% url 'dash:project-slug' next.course.s %}"><button type="button" class="btn btn-primary" onclick="updateLessonProgress({{lesson.id|escapejs}})">Complete Lesson</button></a>
                    {% endif %}  
                  </div>
              </div>
            </div>
          </div>
    
          <a href="{% url 'dash:project-lesson' next.course.s next.s %}"><button type="button" id="nextLesson" class="text-center btn btn-success">Start Next Lesson</button></a>
    </div>
</div>
</div>
<button class="open-button" onclick="openForm()">Chat <i class="fas fa-comments"></i></button>

<div class="chat-popup" id="myForm">
  <div class="form-container">
       <div class="container">
        <div class="row mb-1">
            <div class="col-sm-6 no-gutters">
            <small class="font-weight-bold">{{ lesson.title }} Chat</small>
             </div>
             <div class="col-sm-6 no-gutters">
                 <div class="float-right" onclick="closeForm()"><button type="button" class="btn btn-link"><i class="fas fa-times"></i></button></div>
             </div>
        </div>
       </div>

        <div id="messages" class="message-content"></div>
        <input id="chat-message-input" type="text" placeholder="Type message.." name="msg" required autocomplete="false">
    </div>
</div>

<script>

function scrollMessage(){
    $('#messages').scrollTop($('#messages')[0].scrollHeight - $('#messages')[0].clientHeight);
}

function openForm() {
    var x = document.querySelector("#messages");
    x.scrollTop = x.scrollHeight;
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>

<script>
    var roomName = {{ room_name }};
    var username = {{ username }}

    var chatSocket = new ReconnectingWebSocket(
        'wss://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onopen = function(e){
        fetchMessages(roomName);
    };

    chatSocket.onmessage = function(e){
        var data = JSON.parse(e.data);
        if(data['command'] === 'messages'){
            console.log(data['messages'].length);
            if(data['messages'].length > 0){
                for(let i=0; i<data['messages'].length; i++){
                    createMessage(data['messages'][i]);
                }
            } else {
                var other = document.createElement('div');
                other.classList.add('row', 'p-2');
                var other2 = document.createElement('div');
                other2.classList.add('col-sm-12');
                var noMessage = document.createElement('div');
                noMessage.classList.add('bg-info', 'text-white', 'p-2', 'rounded');
                noMessage.textContent = "No message activity here just yet. Start a conversation.";
                other.appendChild(other2);
                other2.appendChild(noMessage);
                document.querySelector('#messages').appendChild(other);
            }
        } else if(data['command'] === 'new_message'){
            createMessage(data['message']);
        }
        
        $('[data-toggle="tooltip"]').tooltip();
        scrollMessage();
    };

    function createMessage(data){
            var author = data['author'];
            var new_row = document.createElement('div');
            new_row.classList.add('row', 'p-2');
            var new_col = document.createElement('div');
            new_col.classList.add('col-sm-12');
            var new_message = document.createElement('div');
            var new_time = document.createElement('div');
            new_time.classList.add('col-sm-12');
            var small = document.createElement('small')
            new_message.textContent = data.content;
            new_message.setAttribute('data-toggle', 'tooltip');
            new_message.setAttribute('title', "Message by " + data.author);
            small.textContent = data.timestamp;
            if(author == username){
                new_message.classList.add('sent', 'float-right', 'bg-primary', 'text-white', 'p-2', 'rounded');
                new_message.setAttribute('data-placement', 'left');
                small.classList.add('text-muted', 'align-middle', 'float-right');
            } else {
                new_message.classList.add('received', 'float-left', 'bg-success', 'text-white', 'p-2', 'rounded');
                new_message.setAttribute('data-placement', 'right');
            }
            
            new_row.appendChild(new_col);
            new_col.appendChild(new_message);
            new_row.appendChild(new_time);
            new_time.appendChild(small);
            document.querySelector('#messages').appendChild(new_row);
        }

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    function fetchMessages(roomName){
        console.log(roomName);
        chatSocket.send(JSON.stringify({'command': 'fetch_messages', 'roomName': roomName}));
    }

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if(e.keyCode === 13 && document.querySelector("#chat-message-input").value != ""){
            var x = document.querySelector("#messages");
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'command': 'new_message',
                'message': message,
                'from': username,
                'roomName': roomName
            }));
            x.scrollTop = x.scrollHeight;
            messageInputDom.value = '';
        }
    };
</script>

<style>
    @import "compass/css3";
    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
    @import url(https://fonts.googleapis.com/css?family=Fjalla+One);
    .trophy {
      position: relative;
      width: 216px;
      display: inline-block;
      margin: 40px;
    }
    .trophy .title {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 1.7em;
      position: absolute;
      top: -28px;
      border-radius: 8px 8px 0 0;
      text-align: center;
      width: 100%;
      background: red;
      padding: 20px 0;
    }
    .trophy .subtitle {
      position: absolute;
      font-family: "Fjalla One", sans-serif;
      font-size: 1.8em;
      width: 100%;
      text-align: center;
      color: white;
      position: absolute;
      top: 100px;
    }
    
    .trophy .subtitle1 {
      position: absolute;
      font-family: "Fjalla One", sans-serif;
      font-size: 1em;
      width: 100%;
      text-align: center;
      color: white;
      position: absolute;
      top: 80px;
    }
    
    .trophy .subtitle:after {
      content: "★ ★ ★";
      display: block;
      font-size: 0.4em;
      position: relative;
      margin: 15px 0 0;
      transition: all 0.3s;
    }
    .trophy:hover .subtitle:after {
      word-spacing: 30px;
    }
    .red .title {
      background: #DC514E;
    }
    .red .subtitle:after {
      color: #DC514E;
    }
    .green .title {
      background: #2ecc71;
    }
    .green .subtitle:after {
      color: #2ecc71;
    }
    .gray .title {
      background: #95a5a6;
    }
    .gray .subtitle:after {
      color: #95a5a6;
    }
    .yellow .title {
      background: #f1c40f;
    }
    .yellow .subtitle:after {
      color: #f1c40f;
    }
    .blue .title {
      background: #3498db;
    }
    .blue .subtitle:after {
      color: #3498db;
    }
    
    </style>

<style>
    body 
    * {box-sizing: border-box;}

    
    /* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 23px;
      width: 150px;
    }
    
    /* The popup chat - hidden by default */
    .chat-popup {
      display: none;
      position: fixed;
      bottom: 10px;
      right: 10px;
      border: 3px solid #f1f1f1;
      z-index: 9;
    }

    .message-content {
        max-height: 200px;
        min-height: 200px;
        min-width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #f2f2f2;
    }
    
    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }
    
    /* Full-width textarea */
    .form-container input {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      resize: none;
    }
    
    /* When the textarea gets focus, do something */
    .form-container textarea:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Set a style for the submit/send button */
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: red;
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
    </style>

  <script>function openForm() {
    document.getElementById("myForm").style.display = "block";
  }
  
  function closeForm() {
    document.getElementById("myForm").style.display = "none";
  }</script>
{% endblock %}